.headerContainer {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#community-container {
  width: 70%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  display:flex;
  flex-direction: column;
}

.post {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}

.post:last-child {
  border-bottom: none;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.post-content {
  overflow: hidden;
}

.username {
  font-weight: bold;
}

.post-date {
  font-size: 0.9em;
  color: #888;
}

.content {
  margin-top: 10px;
}

.likes {
  margin-top: 10px;
  color: #ff0000;
  cursor: pointer;
}

.comment-button:hover {
  background-color: transparent;
  color: #40C7CD;
}

.interaction-container {
  display: flex;
  gap: 10px; 
  align-items: center; 
}

.comments-section {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.comment {
  display: flex;
  padding: 10px 4rem;
}

.comment .profile-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.comment-content {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.comment .username {
  font-weight: bold;
}

.comment .comment-date {
  font-size: 0.8em;
  color: #888;
}

.comment .content {
  margin-top: 5px;
}

.comment-button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  color: #000;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
